{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
    <title>{{sysSettings.siteName}} - {{channel.channelName}}</title>

    <script type="text/javascript" src="/static/vendor/socketio/js/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/vendor/popper/js/popper.min.js"></script>
    <link href="/static/vendor/videojs/css/video-js.css" rel="stylesheet">

    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">

{% endblock %}

{% block body %}
<div style="width:100%">
  <div class="shadow p-2" style="background-color:white;">
    <div class="container-fluid">
          <div class="row">
              <div class="col-9">
                <img src="{{channel.owningUser|get_pictureLocation}}" width="46px" height="46px" style="float:left;">
                <div class="streamcard-IconText"><i class="fas fa-tv"></i></div> <div style="float:left;"><span><b><a href="/channel/{{channel.id}}/">{{channel.channelName}}</a></b></span></div><br>
                <div class="streamcard-IconText"><i class="fas fa-users"></i></div><b><a href="/streamers/{{channel.owningUser}}/">{{channel.owningUser|get_userName}}</a></b>
              </div>
              <div class="col-md-3 col-sm-12">
                  <ul id="channelPlayerMenu" class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" id="channel-tab" data-toggle="tab" href="#livechannel" role="tab" aria-controls="home" aria-selected="true">Live Channel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="videos-tab" data-toggle="tab" href="#videoList" role="tab" aria-controls="profile" aria-selected="false">Videos</a>
                    </li>
                  </ul>
              </div>
        </div>
    </div>

  </div>
</div>
<div class="tab-content" id="tabList">
    <div class="tab-pane fade show active" id="livechannel" role="tabpanel" aria-labelledby="channel-tab">
          <div class="container-fluid" style="padding-top:-15px;padding-bottom:50px;">
              <div id="videoWindowRow" class="row {% if channel.chatEnabled == False %}justify-content-md-center{% endif %}">
                  <div id="videoWindow" class="{% if channel.chatEnabled == True %}col-xl-9 col-lg-12{% else %} col-xl-10{% endif %} col-sm-12">
                      <br><br>
                      <div id="videoDiv">
                          <div id="videoContainer">
                            <video id="video" class="shadow videoStream video-js vjs-big-play-centered lazy" poster="/stream-thumb/{{channel.channelLoc}}.png" autoplay controls preload="auto" data-setup='{"fluid": true }'>
                                <source src="{{streamURL}}" type="application/x-mpegURL">
                                <p class="vjs-no-js">
                                  To view this video please enable JavaScript, and consider upgrading to a web browser that
                                  <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                                </p>
                            </video>
                          </div>
                          <div id="offlineImage" style="display:none;">
                            <img class="videoStream shadow" {% if channel.offlineImageLocation != None %} src="/images/{{channel.offlineImageLocation}}" {% else %} src="/static/img/video-placeholder.jpg" {% endif %}>
                          </div>
                      </div>
                        <div class="video-buttons-mobile justify-content-center">
                      <div>
                        <button type="button" class="btn btn-primary shadow" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="toggleChat()">
                            <i class="fas fa-comment"></i>
                        </button>

                        <button type="button" class="btn btn-primary shadow" data-toggle="modal" data-target="#shareModal">
                            <i class="fas fa-share-alt"></i>
                        </button>
                      </div>
                      {% if channel.owningUser == current_user.id %}
                          <div style="margin-left:5px;">
                              <button type="button" class="btn btn-primary shadow" data-toggle="modal" data-target="#editModal">
                                  <i class="fas fa-edit"></i>
                              </button>
                          </div>
                      {% endif %}
                  </div>
                        <div class="White-BG streamInfo shadow">
                      <div class="video-buttons-lg">
                          {% if channel.owningUser == current_user.id %}
                          <div class="float-right" style="margin-left:5px;">
                              <button type="button" class="btn btn-primary shadow" data-toggle="modal" data-target="#editModal">
                                  <i class="fas fa-edit"></i>
                              </button>
                          </div>
                          {% endif %}
                          <div class="float-right" style="margin-left:5px;">
                              <button type="button" class="btn btn-primary shadow" data-toggle="modal" data-target="#shareModal">
                                  <i class="fas fa-share-alt"></i>
                              </button>
                          </div>
                          {% if channel.chatEnabled == True %}
                          <div class="float-right">
                              <button type="button" class="btn btn-primary shadow" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="toggleChat()">
                                  <i class="fas fa-comment"></i>
                              </button>
                          </div>
                          {% endif %}
                      </div>
                      <div>
                          <div class="streamcard-IconText"><i class="fas fa-video"></i></div> <div id="streamMetadataName" style="float:left;"><span><b>{% if stream != None %} {{stream.streamName}} {% else %} No Stream {% endif %}</b></span></div><br>
                          <div class="streamcard-IconText"><i class="fas fa-hashtag"></i></div> <div id="streamMetadataTopic" style="float:left;"><b><a href="/topic/{{stream.topic}}/">{% if stream != None %} {{stream.topic|get_topicName}} {% else %} {{channel.topic|get_topicName}} {% endif %}</a></b></div><br>
                          <div class="streamcard-IconText"><i class="fas fa-users"></i></div> <div style="float:left;"> {{channel.views}}</div> <br>
                          <div class="streamcard-IconText"><i class="fas fa-eye"></i></div> <div style="float:left;"><span id="currentViewers"> {{channel.currentViewers}}</span></div> <br>
                          <div class="streamcard-IconText"><a href="javascript:void(0)" onclick="changeUpvote()"><i id="upVoteIcon" class="far fa-thumbs-up"></i></a></div><div style="float:left;"> <span id="totalUpvotes"></span></div> <br>
                      </div>
                  </div>
                  </div>
                  {% if channel.chatEnabled == True %}
                  <div class="col-xl-3 col-lg-12 .d-none .d-xl-block" id="chatBlock">
                      <div class="chatbox" style="margin-bottom:210px;">
                          <div id="chat" class="chat shadow"></div><br>
                          <input id="text" size="80" class="form-control shadow" {% if current_user.is_authenticated==false %} disabled placeholder="Login to Chat" {% else %} placeholder="Type Message Here..." {% endif %}><br>
                          <button type="button" id="userList" class="btn btn-primary shadow" data-html="true" data-toggle="popover" title="<b>User List</b>" data-content="" data-placement="right">User List</button>
                          <a href="#" onClick="MyWindows=window.open('/view/{{channel.channelLoc}}/?chatOnly=True','myWindow', 'width=600,height=850');return false;" class="btn btn-primary shadow"><i class="fas fa-external-link-alt"></i></a>
                      </div>
                    </div>
                  {% endif %}
              </div>

          {% if randomRecorded != [] and randomRecorded != None %}
          <div class="row justify-content-center" style="padding-bottom:50px;">
              <div class="{% if channel.chatEnabled == True %} col-12 {% else %} col-xl-8{% endif %}">
                  <div class="card shadow" style="margin-top:30px;margin-bottom:30px;">
                      <h5 class="card-header">Other Videos from this Channel</h5>
                      <div class="card-body">
                          <div class="container-fluid justify-content-center" style="width:100%;padding-top:15px;">
                              <div class="streamList d-flex justify-content-center flex-wrap">
                                  {% for video in randomRecorded %}
                                      {% if video.pending == False %}
                                        <div class="streamcard">
                                          <a href="/play/{{video.id}}">
                                              <div class="stream shadow card p-2 streamcard-item">
                                                <div>
                                                    <img class="stream-img card-img-top shadow lazy" src="/static/img/video-placeholder.jpg" data-src="/videos/{{video.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">
                                                    {% if video.channel.protected %}
                                                    <div class="streamcard-overlay">
                                                        <div class="quarter-circle-top-left">
                                                            <i class="stream-image-overlay-text fas fa-lock"></i>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                <div class="card-body">
                                                    <h5 class="card-title text-shadow-close">{{video.channelName|limit_title}}</h5><br>
                                                    <i class="fas fa-hashtag"></i> <b>{{video.topic|get_topicName}}</b> <br>
                                                    <i class="fas fa-calendar-alt"></i> <b>{{video.videoDate|normalize_date}}</b> <br>
                                                </div>
                                                <div class="streamcard-footer bg-transparent">
                                                    <div class="float-left"><i class="fas fa-users"></i> {{video.views}}</div>
                                                    <div class="float-right"><i class="fas fa-clock"></i> {{video.length|hms_format}}</div>
                                                </div>
                                            </div>
                                          </a>
                                        </div>
                                      {% endif %}
                                  {% endfor %}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          {% endif %}
        </div>
    </div>
    <div class="tab-pane fade" id="videoList" role="tabpanel" aria-labelledby="videos-tab">
        <div class="container-fluid justify-content-center" style="width:85%;padding-top:15px;">
            <div class="input-group">
                <div class="input-group-prepend shadow">
                    <div class="input-group-text"><i class="fas fa-search"></i></div>
                </div>
                <input type="text" id="search" name="search" class="searchBar form-control shadow" placeholder="Search">
            </div>
        </div>
        <br>
        <div class="container-fluid justify-content-center" style="width:85%;padding-top:15px;">
            <div class="streamList d-flex align-content-around flex-wrap">
            {% for video in channel.recordedVideo|sort(attribute='videoDate', reverse=True)%}
                {% if video.pending == False %}
                <div class="streamcard streamcard-vids flip-in-ver-right" id="video_{{video.id}}">
                  <a href="/play/{{video.id}}">
                      <div class="stream shadow card p-2 streamcard-item">
                        <div>

                            <img class="stream-img card-img-top shadow lazy" src="/static/img/video-placeholder.jpg" data-src="/videos/{{video.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';">

                            {% if channel.protected %}
                            <div class="streamcard-overlay">
                                <div class="quarter-circle-top-left">
                                    <i class="stream-image-overlay-text fas fa-lock"></i>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-shadow-close">{{video.channelName|limit_title}}</h5>
                            <p class="card-text">
                                <i class="fas fa-tv"></i> <b>{{video.channel.channelName}}</b> <br>
                                <i class="fas fa-hashtag"></i> <b>{{video.topic|get_topicName}}</b> <br>
                                <i class="fas fa-calendar-alt"></i> <b>{{video.videoDate|normalize_date}}</b> <br>
                            </p>
                        </div>
                        <div class="streamcard-footer bg-transparent">
                            <div class="float-left"><i class="fas fa-users"></i> {{video.views}}</div>
                            <div class="float-left" style="position:relative;left:20px;"><i id="upVoteIcon" class="far fa-thumbs-up"></i> {{video.id|get_Video_Upvotes}}</div>
                            <div class="float-right"><i class="fas fa-clock"></i> {{video.length|hms_format}}</div>
                        </div>
                    </div>
                  </a>
                </div>
                {% endif %}
              {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if channel.owningUser == current_user.id %}
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalTitle">Edit Stream Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form>
      <div class="modal-body">

            <h5>Name of the Stream:</h5>
            <input type="text" id="editStreamNameInput" class="form-control" value="{{stream.streamName}}" name="newStreamName" required>
            <br>
            <h5>Stream Topic:</h5>
            <select class="form-control" name="newStreamTopic" id="editChannelTopicInput" style="font-family: FontAwesome, sans-serif;" required >
                {% for topic in topics %}
                <option value={{topic.id}} {% if stream.topic==topic.id %} selected {% endif %}>{{topic.name}}</option>
                {% endfor %}
            </select>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="submitStreamChanges()">Save Changes</button>
      </div>
        </form>
    </div>
  </div>
</div>

{% endif %}

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareModalTitle">Share a Video/Stream</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <div style="margin: 0 auto;width: 99%; text-align: center;">
            <button type="button" id="FBShareBtn" class="btn shadow" style="background-color:#4267B2;color:white;" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{request.url}}','facebook-share-dialog','width=626,height=436');return false;">Share on Facebook</button>
            <button type="button" id="TwitterShareBtn" class="btn shadow" style="background-color:#1dcaff;color:white;" onclick="window.open('https://twitter.com/share?url={{request.url}}&text=Check out this Stream! - {{stream.streamName}}','twitter-share-dialog','width=626,height=436');return false;">Share on Twitter</button>
          </div>
        <br>
        <div class="form-group row">
            <label for="embedURLInput" class="col-sm-2 col-form-label"><b>Embed</b></label>
            <div class="col-sm-10">
                <input class="form-control" id="embedURLInput" type="text" value="<iframe src='{{request.url}}?embedded=True' width=600 height=345></iframe>" readonly onClick="this.select();">
            </div>
        </div>
        <div class="form-group row">
            <label for="linkShareInput" class="col-sm-2 col-form-label"><b>Link</b></label>
            <div class="col-sm-10">
                <input class="form-control" id="linkShareInput" type="text" value="{{request.url}}" readonly onClick="this.select();">
            </div>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
    $(document).ready( function () {
        monitor_vid();
    });
    </script>

    <script src="/static/vendor/videojs/js/video.js"></script>

    <script>
        var player = videojs('video', {autoplay: true, errorDisplay: false});
    </script>


    <script type="text/javascript" charset="utf-8">
        var conn_options = {
            'sync disconnect on unload':true
        };

        var socket = io();
    </script>

    <script>
        socket.on('connect', function() {
            socket.emit('newViewer', {data: '{{channel.channelLoc}}'});
        });
    </script>

    <script>
        socket.on('disconnect', function() {
            socket.emit('removeViewer', {data: '{{channel.channelLoc}}'});
        });
    </script>


    <script>
        window.addEventListener("beforeunload", function (e) {
            socket.emit('removeViewer', {data: '{{channel.channelLoc}}'});
            return null;
        });
    </script>

    <script type="text/javascript" charset="utf-8">
        socket.on('viewerTotalResponse', function (msg) {
            document.getElementById("currentViewers").innerHTML = msg['data'];
            var userBoxHTML = "";
            var userList = msg['userList'];
            var userListLength = userList.length;
            for (var i = 0; i < userListLength; i++) {
                userBoxHTML = userBoxHTML.concat(userList[i],'<br>');
            }
            var userListElement = document.getElementById("userList");
            userListElement.setAttribute("data-content",userBoxHTML);
        });
    </script>

    <script>
        $('#text').keypress(function(e) {
            var code = e.keyCode || e.which;
            if (code == 13) {
                text = $('#text').val();
                $('#text').val('');
                socket.emit('text', {msg: text, room:'{{channel.channelLoc}}' });
            }
        });
    </script>

    <script>

        socket.on('message', function(data) {
            var today = new Date();
            var h = today.getHours();
            var m = (today.getMinutes() < 10? '0' : '') + today.getMinutes();
            var s = today.getSeconds();
            var message = decodeURIComponent((escape(decodeURIComponent(data['msg']))));
            if (data['flags'] === 'Owner') {
                $('#chat').append('<div class="chatBar-Item chat-{{channel.chatBG}} {{channel.chatAnimation}}"><div class="charBar-Item-Image"><img src="' + data['image'] + '" width="52px" height="52px"></div><div class="chatBar-Item-Text" style="color:{{channel.chatTextColor}};"><b>' + data['user'] + '</b> <i class="fas fa-crown"></i> ' + h + ':' + m + '<br>' + message + '</div></div>');
            } else {
                $('#chat').append('<div class="chatBar-Item chat-{{channel.chatBG}} {{channel.chatAnimation}}"><div class="charBar-Item-Image"><img src="' + data['image'] + '" width="52px" height="52px"></div><div class="chatBar-Item-Text" style="color:{{channel.chatTextColor}};"><b>' + data['user'] + '</b> ' + h + ':' + m + '<br>' + message + '</div></div>');
            }
            $('#chat').animate({ scrollTop: 1000000 }, "fast");
        });
    </script>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>

    <script>
        setInterval(function() {
          socket.emit('getViewerTotal', {data: "{{channel.channelLoc}}"} );
        },30000 );
    </script>

    <script>
        socket.on('connect', function() {
            socket.emit('getUpvoteTotal', {loc: '{{channel.channelLoc}}', vidType: 'stream'});
        });
    </script>

    <script>
        setInterval(function() {
          socket.emit('getUpvoteTotal', {loc: '{{channel.channelLoc}}', vidType: 'stream'});
        },30000 );
    </script>

    <script type="text/javascript" charset="utf-8">
        socket.on('upvoteTotalResponse', function (msg) {
            document.getElementById("totalUpvotes").innerHTML = msg['totalUpvotes'];
            if (msg['myUpvote'] === 'True'){
                if ( document.getElementById("upVoteIcon").classList.contains('far') ) {
                    document.getElementById("upVoteIcon").classList.remove('far');
                    document.getElementById("upVoteIcon").classList.add('fas');
                }
            }
            else if (msg['myUpvote'] === 'False'){
                if ( document.getElementById("upVoteIcon").classList.contains('fas') ) {
                    document.getElementById("upVoteIcon").classList.remove('fas');
                    document.getElementById("upVoteIcon").classList.add('far');
                }
            }
        });
    </script>

    <script>
        function changeUpvote() {
            socket.emit('changeUpvote', {loc: '{{channel.channelLoc}}', vidType: 'stream'});
            socket.emit('getUpvoteTotal', {loc: '{{channel.channelLoc}}', vidType: 'stream'});
        }
    </script>

    <script>
        function toggleChat() {
            var chatbox = document.getElementById("chatBlock");
            var videoWindow = document.getElementById("videoWindow");
            var videoWindowRow = document.getElementById("videoWindowRow");
            if (chatbox.style.display === "none") {
                chatbox.style.display = "block";
                videoWindowRow.className = "row";
                videoWindow.className = "col-xl-9 col-lg-12 col-sm-12";
            } else {
                chatbox.style.display = "none";
                videoWindowRow.className = "row justify-content-md-center";
                videoWindow.className = "col-xl-10 col-sm-12";
            }
        }
    </script>

    <script>
        function submitStreamChanges(){
            var newStreamNameDiv = document.getElementById("editStreamNameInput");
            var newStreamTopicDiv = document.getElementById("editChannelTopicInput");

            socket.emit('updateStreamData', {name: newStreamNameDiv.value, topic: newStreamTopicDiv.value, channel:"{{channel.channelLoc}}"});
        }
    </script>


    <script>
    //Fixes for VideoJS on Disconnect to Force a Reconnect when the readyState is stuck at 2
    function monitor_vid(){


        videoJSObj = videojs('video');
        currentReadyState = videoJSObj.readyState();

        videoWindowState = document.getElementsByTagName('video');

        videoContainer = document.getElementById('videoContainer');
        offlineWindow = document.getElementById('offlineImage');

        $.getJSON('/apiv1/channels/{{channel.channelLoc}}', function(data) {
            var channelList = data['results'][0];
            var streamIDList = channelList['stream'];

            if (streamIDList.length > 0) {
                var currentStreamID = streamIDList[0];

                videoContainer.style.display = "block";
                offlineWindow.style.display = "none";

                if (currentReadyState == 2) {
                    try {
                        videoJSObj.pause();
                        videoJSObj.currentTime(0);
                        videoJSObj.play();
                        currentReadyState = videoJSObj.readyState();
                    } catch(e) {
                        console.log("OSP tried restarting the stream but had an issue:" + e)
                    }
                } else if (currentReadyState == 0) {
                    try {
                        videoJSObj.reset();
                        videoJSObj.src('{{streamURL}}');
                        videoJSObj.pause().trigger('loadstart');
                        videoJSObj.play();
                    } catch (e) {
                        console.log("OSP tried restarting the stream but had an issue:" + e)
                    }
                }

                $.getJSON('/apiv1/streams/' + currentStreamID, function(data) {
                    var streamData = data['results'][0];
                    var currentStreamTopic = streamData['topic'];
                    var currentStreamName = streamData['streamName'];

                    var topicDiv = document.getElementById('streamMetadataTopic');
                    var nameDiv = document.getElementById('streamMetadataName');

                    var topicJSList = [];
                    {% for x in topics %}
                    topicJSList["{{x.id}}"] =  "{{x.name}}";
                    {% endfor %}


                    var nameDivHTML = '<span><b> ' + currentStreamName +  '</b></span>';
                    var topicDivHTML = '<a href="/topics/' + currentStreamTopic + '"><span><b>' + topicJSList[currentStreamTopic] +  '</b></span></a>';

                    nameDiv.innerHTML = nameDivHTML;
                    topicDiv.innerHTML = topicDivHTML;

                });

            } else {
                try {
                    videoJSObj.pause();
                    videoJSObj.reset();
                    videoContainer.style.display = "none";
                    offlineWindow.style.display = "block";
                } catch(e) {
                    console.log("OSP tried restarting the stream but had an issue:" + e)
                }
            }
        });
        var lastVideoState = currentReadyState;
    }

    setInterval(function() {
        monitor_vid();
    }, 10000);
    </script>
    <script>
        $('#search').on('input', function(){
            var query = document.getElementById("search").value.toLowerCase();
            $('.streamcard-vids').each(function(){
                 var $this = $(this);
                 if($this.text().toLowerCase().indexOf(query) === -1)
                     $this.closest('.streamcard').hide();
                else $this.closest('.streamcard').show();
            });
        });
        </script>
{% endblock %}