<!DOCTYPE html>
<html lang="en" class="Ash-BG">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel=stylesheet type=text/css href="/static/css/Default.css">
    <link rel=stylesheet type=text/css href="/static/css/slider.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.css">
    <link href="/static/vendor/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="/static/vendor/jquery/js/jquery-3.3.1.min.js"></script>
    <script src="/static/vendor/lazyload/js/lazyload.min.js"></script>

    {% block head %}

    {% endblock %}

</head>
<body>

    <div class="page-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
            <a class="navbar-brand" href="/">
                <div class="d-flex flex-row">
                    <div class="px-2">
                        <img src="/static/img/logo.png" width="32" height="32" class="d-inline-block align-top" alt="">
                    </div>
                    <div class="px-1">
                        {{sysSettings.siteName}}
                    </div>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/channels">Channels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/topics">Topics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/streamers">Streamers</a>
                    </li>
                </ul>
                {% if user.is_authenticated == False %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                    </li>
                </ul>
                {% if sysSettings.allowRegistration == True %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/register"><i class="far fa-id-card"></i> Register</a>
                    </li>
                </ul>
                {% endif %}
                {% else %}
                <ul class="navbar-nav" style="margin-right:35px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img width="30" height="30" class="userPhoto" src="/images/{{current_user.pictureLocation}}" onerror="this.src='/static/img/user2.png';"> {{current_user.username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          {% if user.has_role('Admin') %}
                            <a class="dropdown-item" href="/settings/admin"><i class="fas fa-server"></i> Admin</a>
                          {% endif %}
                          {% if user.has_role('Streamer') %}
                          <a class="dropdown-item" href="/settings/channels"><i class="fas fa-video"></i> My Channels</a>
                          <a class="dropdown-item" href="/settings/api"><i class="fas fa-key"></i> API Keys</a>
                          {% endif %}
                          <a class="dropdown-item" href="/settings/user"><i class="fas fa-cogs"></i> Settings</a>
                          <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                        </div>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </div>

    <div class="Ash-BG" style="padding-bottom:50px;">
      <div style="position: absolute; top: 65px; right: 70px;z-index:9999999;" id="toastDiv">
        {%- with messages = get_flashed_messages(with_categories=true) -%}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="30000" style="width:250px;">
                      <div class="toast-header">
                        <strong class="mr-auto">
                            <span class="toast-box {% if category == 'message' %}gray {% elif category == 'error'%}red {% elif category == 'success' %}green {% endif %}"> </span>
                            <span style="margin-left:5px;">{{category|upper}}</span>
                        </strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="toast-body">
                        {{message}}
                      </div>
                  </div>
              {% endfor %}
          {% endif %}
        {%- endwith %}
      </div>

    {% block body %}

    {% endblock %}

    </div>


    <script src="/static/vendor/jquery/js/jquery-3.3.1.min.js"></script>
    <script src="/static/vendor/popper/js/popper.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendor/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    {% block scripts %}

    {% endblock %}
<footer class="footer shadow">
    <div style="padding-right:30px;">Developed with Love by <a href="https://davelockwood.net">Deamos</a> <a href="https://gitlab.com/Deamos/flask-nginx-rtmp-manager"><img src="/static/img/gitlab.png" width="32" height="32" style="margin-left:10px;"></a></div>
</footer>

<script>
    $(window).scroll(function () {
    if ($(window).scrollTop() + $(window).height() == $(document).height()) {
        $('footer').slideDown(300);
    } else {
        $('footer').slideUp(300);
    }
    });
</script>

<script>
$(document).ready(function(){
  $('.toast').toast('show');
});
</script>

<script>
    var lazyLoadInstance = new LazyLoad({
    elements_selector: ".lazy"
});
</script>

</body>


</html>